<h2> Calculate your Income Taxes </h2>

<%= form_for(@earnings) do |f|%>
<%= f.label "Annual Salary" %>
<%= f.text_field :amount %>

<input type="submit" value="Calculate" >
<% end %>



<%
=begin%>
 <br><%= @earnings.each do |e| %>
<li>Income: $<%=e.amount%> Income Tax Amount $ <%=e.calc_taxes%> </li>
 <% end %> 
<%
=end%>
